* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: white;
}

.main-color{
  color: #E50914;
}


/* BANDIERE IMPORTATE A MANO PERCHE NOME DIVERSO DALLA REPOSITORI IN CDN */
.fi-en{
  background-image: url(https://raw.githubusercontent.com/lipis/flag-icons/5667d75be0c0396f29fdc73e2b2e341d0e702843/flags/4x3/gb.svg)
}

.fi-ja{
  background-image: url(https://raw.githubusercontent.com/lipis/flag-icons/5667d75be0c0396f29fdc73e2b2e341d0e702843/flags/4x3/jp.svg);
}

.fi-hi{
  background-image: url(https://raw.githubusercontent.com/lipis/flag-icons/a3f6313c8db89c057f5521784cb2c5dc3368bfcf/flags/4x3/in.svg);
}

.fi-ko{
  background-image: url(https://raw.githubusercontent.com/lipis/flag-icons/a3f6313c8db89c057f5521784cb2c5dc3368bfcf/flags/4x3/kr.svg);
}

